<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todoDesign.mapper.GroupMapper">


    <select id="getGroupIdByGroupNameAndUserId" resultType="java.lang.Integer">
        select todo_group.group_id
        from demos.todo_group
            join todo_teammate t on todo_group.group_id = t.group_id
        where user_id = #{userId} and group_name = #{groupName}
    </select>

</mapper>
