<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todoDesign.mapper.QuestMapper">

    <select id="unFinishQuest" resultMap="FinishResultMap">
        SELECT name_thing,start_time
        FROM demos.todo_quest
            join demos.todo_group_quest on demos.todo_quest.quest_id = todo_group_quest.quest_id
        WHERE todo_group_quest.group_id = #{groupId}
          AND finish = false;
    </select>

    <select id="allFinish" resultMap="FinishResultMap">
        SELECT name_thing,start_time
        FROM demos.todo_quest
            join demos.todo_group_quest on demos.todo_quest.quest_id = todo_group_quest.quest_id
        WHERE todo_group_quest.group_id = #{groupId}
          AND finish = true;
    </select>

    <resultMap id="FinishResultMap" type="com.todoDesign.entity.FinishQuest">
        <result property="nameThing" column="name_thing"/>
        <result property="startTime" column="start_time"/>
        <result property="deadTime" column="dead_time"/>
    </resultMap>

</mapper>
