<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todoDesign.mapper.QuestMapper">

    <select id="planning" resultMap="FinishResultMap">
        SELECT name_thing,start_time,dead_time
        FROM demos.todo_quest
        WHERE group_id IN (SELECT group_id FROM todo_group tug WHERE tug.user_id = #{userId})
          AND dead_time IS NOT NULL
    </select>

    <resultMap id="FinishResultMap" type="com.todoDesign.dto.FinishQuest">
        <result property="nameThing" column="name_thing"/>
        <result property="startTime" column="start_time"/>
        <result property="deadTime" column="dead_time"/>
    </resultMap>

</mapper>
